# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [2]:
# Load and view first few lines of dataset
import pandas as pd
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [8]:
df.shape

(500, 4)

### Proportion and admission rate for each gender

In [5]:
# Proportion of students that are female
df.query('gender == "female"').count() / df.shape[0]

student_id    0.514
gender        0.514
major         0.514
admitted      0.514
dtype: float64

In [13]:
# Proportion of students that are male
len(df[df['gender'] == 'male'])/len(df)

0.486

In [17]:
# Admission rate for females
df.query('gender == "female"').admitted.mean()

0.28793774319066145

In [24]:
# Admission rate for males
df[df.gender == "male"]['admitted'].mean()

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [39]:
df.groupby(['gender','major']).count()

                  student_id  admitted
gender major
female Chemistry         226       226
       Physics            31        31
male   Chemistry          18        18
       Physics           225       225

In [48]:
# What proportion of female students are majoring in physics?
df.query('gender == "female" & major == "Physics"').count() / df[df.gender=="female"].shape[0]

student_id    0.120623
gender        0.120623
major         0.120623
admitted      0.120623
dtype: float64

In [49]:
# What proportion of male students are majoring in physics?
df.query('gender == "male" & major == "Physics"').count() / df[df.gender=="male"].shape[0]

student_id    0.925926
gender        0.925926
major         0.925926
admitted      0.925926
dtype: float64

In [50]:
# Admission rate for female physics majors
df.query('gender == "female" & major == "Physics"')['admitted'].mean()

0.74193548387096775

In [51]:
# Admission rate for male physics majors
df.query('gender == "male" & major == "Physics"')['admitted'].mean()

0.51555555555555554

### Proportion and admission rate for chemistry majors of each gender

In [52]:
# What proportion of female students are majoring in chemistry?
df.query('gender == "female" & major == "Chemistry"').count() / df[df.gender=="female"].shape[0]

student_id    0.879377
gender        0.879377
major         0.879377
admitted      0.879377
dtype: float64

In [53]:
# What proportion of male students are majoring in chemistry?
df.query('gender == "male" & major == "Chemistry"').count() / df[df.gender=="male"].shape[0]

student_id    0.074074
gender        0.074074
major         0.074074
admitted      0.074074
dtype: float64

In [54]:
# Admission rate for female chemistry majors
df.query('gender == "female" & major == "Chemistry"')['admitted'].mean()

0.22566371681415928

In [55]:
# Admission rate for male chemistry majors
df.query('gender == "male" & major == "Chemistry"')['admitted'].mean()

0.1111111111111111

### Admission rate for each major

In [56]:
# Admission rate for physics majors
df.query('major == "Physics"')['admitted'].mean()

0.54296875

In [57]:
# Admission rate for chemistry majors
df.query('major == "Chemistry"')['admitted'].mean()

0.21721311475409835